---
import PageHeading from "@components/page-heading.astro";
import Pagination from "@components/pagination.astro"
import Layout from "@root/layouts/main.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from 'astro:content';
import PostCard from "@components/post/post-card.astro";
import { ARTICLES_PER_PAGE } from "@root/constants"

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).filter(article => (
    article.data.isPublished
));

  const totalPages: number = Math.ceil(allBlogArticles.length / ARTICLES_PER_PAGE);

  const articlesForPage: CollectionEntry<'blog'>[] = allBlogArticles.slice((currentPage - 1) * ARTICLES_PER_PAGE, currentPage * ARTICLES_PER_PAGE);
---

<Layout title="AiMirghani - Blog">
  <section class="relative z-40 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writings"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      { articlesForPage.map((post) => {
        return (
          <PostCard post={post} />
        )
      }) }
    </div>

    <div class="flex justify-center">
      <Pagination
        pageType="blog"
        currentPage={currentPage} 
        totalPages={totalPages} 
        disablePrevious={currentPage === 1} 
        disableNext={currentPage === totalPages} 
      />
    </div>
  </section>
</Layout>
