---
import Logo from "../components/logo.astro";
import { Icon } from 'astro-icon/components'
import { GITHUB_URL, TELEGRAM_URL, INSTAGRAM_URL } from "@root/constants"
---

<section
  class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800"
>
  <div
    class="container flex flex-col items-center py-8 mx-auto px-7 max-w-7xl sm:flex-row"
  >
    <Logo />
    <p
      class="mt-4 text-sm text-neutral-700 dark:text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:mt-0"
    >
      © {new Date().getFullYear()} Made with Love by Astro - All Rights Reserved
    </p>
    <span
      class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
    >

      <a
        href={INSTAGRAM_URL}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Email</span>
            <Icon name="contacts/email" class="w-6 h-6" />
      </a>

      <a
        href={INSTAGRAM_URL}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Instagram</span>
            <Icon name="contacts/instagram" class="w-6 h-6" />
      </a>
          
      <a
        href={TELEGRAM_URL}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
        >
        <span class="sr-only">Telegram</span>
        <Icon name="contacts/telegram" class="w-6 h-6" />
      </a>
        
      <a
        href={GITHUB_URL}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
        >
        <span class="sr-only">GitHub</span>
        <Icon name="contacts/github" class="w-6 h-6" />
      </a>

    </span>
  </div>
</section>
