---
const { currentPage, totalPages, pageType, disablePrevious, disableNext } = Astro.props;

interface Props {
    pageType: string;
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
}
---
<div class="join grid grid-cols-3">
    <a href={'/' + pageType + '?page=' + (currentPage - 1)}
        class:list={
        ["join-item btn border border-neutral-200 dark:border-neutral-700 bg-white dark:bg-neutral-900 text-neutral-600 dark:text-neutral-300 hover:bg-violet-500 hover:border-violet-500 hover:text-white dark:hover:bg-violet-600 dark:hover:border-violet-600 dark:hover:text-white transition-colors duration-200",
        {"pointer-events-none opacity-40": disablePrevious}
        ]}>«</a>
    <a class="join-item btn border border-neutral-200 dark:border-neutral-700 bg-white dark:bg-neutral-900 text-neutral-500 dark:text-neutral-400 pointer-events-none">Page {currentPage}</a>
    <a href={'/' + pageType + '?page=' + (currentPage + 1)}
        class:list={
        ["join-item btn border border-neutral-200 dark:border-neutral-700 bg-white dark:bg-neutral-900 text-neutral-600 dark:text-neutral-300 hover:bg-fuchsia-500 hover:border-fuchsia-500 hover:text-white dark:hover:bg-fuchsia-600 dark:hover:border-fuchsia-600 dark:hover:text-white transition-colors duration-200",
        {"pointer-events-none opacity-40": disableNext}
        ]}>»</a>
</div>

