---
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

interface Props {
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
}
---
<div class="join grid grid-cols-3">
    <a href={'/blog?page=' + (currentPage - 1)} 
        class:list={
        ["join-item btn btn-outline",
        {"pointer-events-none": disablePrevious}
        ]}>«</a>
    <a class="join-item btn btn-outline pointer-events-none">Page {currentPage}</a>
    <a href={'/blog?page=' + (currentPage + 1)} 
        class:list={
        ["join-item btn btn-outline",
        {"pointer-events-none": disableNext}
        ]}>»</a>
</div>

