---
const { currentPage, totalPages, pageType, disablePrevious, disableNext } = Astro.props;

interface Props {
    pageType: string;
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
}
---
<div class="join grid grid-cols-3">
    <a href={'/' + pageType + '?page=' + (currentPage - 1)}
        class:list={
        ["join-item btn border-dashed border border-neutral-900 dark:border-white bg-neutral-900 dark:bg-white text-white dark:text-neutral-900 hover:bg-white dark:hover:bg-black hover:text-neutral-900 dark:hover:text-white hover:border-neutral-700 dark:hover:border-neutral-300 transition-colors duration-300",
        {"pointer-events-none opacity-40": disablePrevious}
        ]}>«</a>
    <a class="join-item btn border-dashed border border-neutral-200 dark:border-neutral-700 bg-white dark:bg-neutral-900 text-neutral-500 dark:text-neutral-400 pointer-events-none">Page {currentPage}</a>
    <a href={'/' + pageType + '?page=' + (currentPage + 1)}
        class:list={
        ["join-item btn border-dashed border border-neutral-900 dark:border-white bg-neutral-900 dark:bg-white text-white dark:text-neutral-900 hover:bg-white dark:hover:bg-black hover:text-neutral-900 dark:hover:text-white hover:border-neutral-700 dark:hover:border-neutral-300 transition-colors duration-300",
        {"pointer-events-none opacity-40": disableNext}
        ]}>»</a>
</div>

