<div
  id="progress-bar"
  class="bg-gradient-to-r from-sky-900 to-fuchsia-700"
></div>


<script>
    function updateProgressBar() {
    const {scrollTop, scrollHeight} = document.documentElement
    const scrollPercent = (
      scrollTop / (scrollHeight - window.innerHeight) * 100
    ) + "%"

    const bar = document.querySelector<HTMLElement>("#progress-bar")

    if(bar === null) {
        throw new Error("Define a progressBar element.");
    }

    bar.style.setProperty('--progress', scrollPercent)
}

document.addEventListener('scroll', updateProgressBar)

</script>


<style lang="css" scoped>
#progress-bar {
  --progress: 0;
  height: 6px;
  width: var(--progress);
  position: sticky;
  top: 3.5rem;
  z-index: 100;
}
</style>

