---
import Square from "@components/square.astro";
---

<div
  class="relative flex w-full divide-x divide-neutral-300 dark:divide-neutral-700 divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
